@import "tailwindcss";

@theme {
  /* 375px / 16 = 23.4375rem */
  --breakpoint-sm: 23.44rem;  
  /* 768px / 16 = 48rem */
  --breakpoint-md: 48rem;     
  /* 1024px / 16 = 64rem (Standard laptop transition) */
  --breakpoint-lg: 90rem;     
  /* 1920px / 16 = 120rem */
  --breakpoint-xl: 120rem;    
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
